.ui.form.segment
  .field
    = item.input :name
  .field
    = item.input :price
  .field
    = item.input :course, label: "Choose the course: ", as: :radio_buttons, collection: [['First', "first_course"], ['Main', "main_course"], ['Drink', "drink"]]
  