.nested-fields.column  
  .ui.segment
    .field
      = f.input :name
    .field
      = f.input :price
    .field
      = f.input :course, label: "Course:", as: :radio_buttons, collection: [['First', "first_course"], ['Main', "main_course"], ['Drink', "drink"]]
    = link_to_remove_association "Remove item", f, class: "ui fluid button"
