.ui.container
  .ui.vertical.segment
    .ui.five.column.grid
      - @daily_menus.reverse.each do |menu|
        .column 
          .ui.fluid.link.card 
            .content 
              .header
                = menu.created_at.strftime("%A")
              .description
                = menu.created_at.strftime("%d %b %Y")
                %br/
                %br/
            = make_order_or_see_history_button(menu)
      .one.column.row
        .celled.center.aligned.column
          = paginate @daily_menus
          