.ui.container 
  .ui.segment
    .ui.five.column.centered.grid
      - @daily_menus.each do |menu|
        .column 
          .ui.fluid.link.card 
            .content 
              .header
                = menu.created_at.strftime("%A")
              .description
                = menu.created_at.strftime("%d %b %Y")
                %br/
                %br/
            .ui.bottom.attached.button History
