.ui.container 
  .ui.segment
    .ui.five.column.centered.grid
      - @daily_menus.each do |menu|
        .column 
          .ui.fluid.link.card 
            .content 
              .header
                = menu.created_at.strftime("%A")
              .description
                = menu.created_at.strftime("%d %b %Y")
                %br/
                %br/
            .ui.bottom.attached.button History

-# .ui.container  
-#   .ui.segment
-#     .ui.grid
-#       .five.column.row
-#         .column
-#           .ui.fluid.link.card
-#             .content
-#               .header Monday
-#               .description
-#                 = @date
-#                 %br/
-#                 %br/
-#             = link_to 'History', edit_user_registration_path, class: "item ui bottom attached button"
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Tuesday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Wednsday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.blue.button Make an order
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Thursday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Friday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#       .five.column.row
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Monday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Tuesday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Wednsday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Thursday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
-#         .column
-#           .ui.fluid.raised.link.card
-#             .content
-#               .header Friday
-#               .description
-#                 %br/
-#                 %br/
-#             .ui.bottom.attached.button History
         